<!--

                                            HEAD

-->
<meta charset="utf-8">
<!-- Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- "shrink-to-fit=no" empèche safari d'adapter le contenu débordant à la taille de la fenêtre -->
<!-- Indexation robot goolge SEO -->
<meta name="robots" content="index, follow" />
<!-- Media Queries -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> <!-- Bootstrap -->
<link rel="stylesheet" href="/public/css/animations.css" />
<link rel="stylesheet" href="/public/css/style-cookies.css" />
<link rel="stylesheet" href="/public/css/template.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/styleAdminPost.css" />
<link rel="stylesheet" media="(max-width:576.00px)" href="/public/css/style-xs.css" />
<link rel="stylesheet" media="(min-width:577.00px) and (max-width:768.00px)" href="/public/css/style-sm.css" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Source+Sans+Pro:300,400,900|Gelasio:400|Roboto&display=swap" rel="stylesheet">
<!-- Fav Icon -->
<link rel="icon" href="/public/img/faviconJFTR.ico" />
<!-- Auteur -->
<meta name="author" content="Lacrotte Florent" />
<!-- Meta descritpion -->
<meta name="description" content="Le livre en ligne de JEAN FORTEROCHE" /> 
<!-- Meta Facebook -->
<!-- Open Graph data -->
<meta property="og:title" content="JEAN FORTEROCHE" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.jean-forteroche-p4-lacrotte.fr" />
<meta property="og:image" content="/public/img/jean_forteroche.jpg" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:description" content="Le livre en ligne de JEAN FORTEROCHE" />
<!-- Meta Twitter -->
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@JFORTEROCHE" />
<meta name="twitter:title" content="JEAN FORTEROCHE" />
<meta name="twitter:description" content="Le livre en ligne de JEAN FORTEROCHE" />
<meta name="twitter:creator" content="@LacrotteFlorent" />
<meta name="twitter:image" content="/public/img/jean_forteroche.jpg" />
<!-- Compatibilité IE8 -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Animations -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<!-- Language -->
<meta name="language" content="French">
