<!--
    
                                            HEADER

-->

<header class="row py-4">
    <div class="col-1">
        <a>
            <img src="/public/img/logo.png" alt="Logo de Vivons Local .fr" />
        </a>
    </div>
    <nav class="col-10">
        <ul>
            <li><a href="/producteur">Mon Producteur</a></li>
            <li><a href="/drive">Le drive</a></li>
            <li><a href="/commentFaire">Comment faire ?</a></li>
        </ul>
    </nav>
    <div class="col-1">

    </div>
</header>